{% load static %}
{% load image_filters %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
<div class="m-3">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="fw-bold text-uppercase m-0">Latest Articles</h5>
    <a href="/all-news/articles" class="text-btn text-decoration-none fw-semibold">View All</a>
  </div>
 <div class="double-underline"></div>
  <div class="row mt-3">
    <div class="col-lg-6 col-md-8 col-sm-12 mb-4">
      <div class="article-slider-wrapper">
        <div class="article-slider-main" id="articleSliderMain">
          {% for article in Articale|slice:":4" %}
          <div class="article-slide-item">
            <img src="{{ article.post_image.url|thumbnail_url }}" alt="{{ article.post_title }}" title="{{ article.post_title }}"
              loading="lazy">
            <div class="article-content">
              <a class="article-tag"
                href="{% url 'catdetails' catlink=article.post_cat.sub_cat.cat_slug slug=article.post_cat.subcat_slug %}">
                {{ article.post_cat }}
              </a>
              <a class="text-start" href="/{{ article.slug }}">
                <h3>{{ article.post_title|truncatechars:80 }}</h3>
              </a>
              <a href="/{{ article.slug }}">
                <p class="text-start">{{ article.post_short_des|truncatechars:150 }}</p>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="article-slider-thumbs mt-3">
          {% for article in Articale|slice:":4" %}
          <div class="article-thumb-item" onclick="goToArticleSlide({{ forloop.counter0 }})">
            <img src="{{ article.post_image.url|thumbnail_url}}" alt="{{ article.post_title }}" title="{{ article.post_title }}"
              loading="lazy">
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-4 col-sm-12 mb-4">
      <div class="row">
        <div class="col-6">
          {% for article in Articale|slice:"4:6" %}
            <div class="article-card">
              <div class="image-section">
                <a href="/{{ article.slug }}">
                  <img src="{{ article.post_image.url|thumbnail_url}}" alt="{{ article.post_title }}" title="{{ article.post_title }}"
                     class="article-image" />
                </a>
                <div class="content-section items_background">
                  <a href="{% url 'catdetails' catlink=article.post_cat.sub_cat.cat_slug slug=article.post_cat.subcat_slug %}"
                    class="article-tag">
                    {{ article.post_cat|truncatechars:30 }}
                  </a>
                  <a href="/{{ article.slug }}">
                    <p class="article-heading h2-copy">{{ article.post_title|truncatechars:50 }}</p>
                  </a>
                  <div class="meta">
                    <span>{{ article.post_date }}</span>
                    <div class="share-icons-container" style="--custom-bottom: 0px; --custom-right: 0px;">
                      {% include 'share.html' with posts=article %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="col-6">
           {% for article in Articale|slice:"6:8" %}
            <div class="article-card">
              <div class="image-section">
                <a href="/{{ article.slug }}">
                  <img src="{{ article.post_image.url|thumbnail_url}}" alt="{{ article.post_title }}" title="{{ article.post_title }}"
                    loading="lazy" class="article-image" />
                </a>
                <div class="content-section items_background">
                  <a href="{% url 'catdetails' catlink=article.post_cat.sub_cat.cat_slug slug=article.post_cat.subcat_slug %}"
                    class="article-tag">
                    {{ article.post_cat|truncatechars:30 }}
                  </a>
                  <a href="/{{ article.slug }}">
                    <p class="article-heading h2-copy">{{ article.post_title|truncatechars:50 }}</p>
                  </a>
                  <div class="meta">
                    <span>{{ article.post_date }}</span>
                    <div class="share-icons-container" style="--custom-bottom: 0px; --custom-right: 0px;">
                      {% include 'share.html' with posts=article %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      
    </div>
  </div>
  <div class="row">
    {% for article in Articale|slice:"8:14" %}
    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class="article-card">
        <div class="image-section">
          <a href="/{{ article.slug }}">
            <img src="{{ article.post_image.url|thumbnail_url}}" alt="{{ article.post_title }}" title="{{ article.post_title }}"
              loading="lazy" class="article-image" />
          </a>
          <div class="content-section items_background">
            <a href="{% url 'catdetails' catlink=article.post_cat.sub_cat.cat_slug slug=article.post_cat.subcat_slug %}"
              class="article-tag">
              {{ article.post_cat|truncatechars:30 }}
            </a>
            <a href="/{{ article.slug }}">
              <p class="article-heading h2">{{ article.post_title|truncatechars:50 }}</p>
            </a>
            <div class="meta">
              <span>{{ article.post_date }}</span>
              <div class="share-icons-container" style="--custom-bottom: 0px; --custom-right: 0px;">
                {% include 'share.html' with posts=article %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>